.App{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    
  }
  
  
  .a{
 
    padding: 20px;
    height: 100%;
    width: 1040px;
    margin: 0 auto;
  }
  .a-t{
    height: 50%;
    width: 100%;
  }
  .a-t{
    display: flex;
  
  }
  .img{
    border: 1px solid #000;
    width: 30%;
    height: 100%;
  }
  img{
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  .desc{
    padding: 0 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .over{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  .header{
    padding-bottom: 16px ;
    font-size: 20px;
    font-weight: bold;
  }
  .title{
    padding-right: 20px;
  }
  .year{
    font-size: 16px;
    line-height: 20px;
  }
  .detail{
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  .detail>div{
    padding: 6px 10px;
  }
  .name{
    font-weight: bold;
    margin-right: 10px;
  }
  .a-b{
    padding: 20px 0;
  }
  .actor_list{
    padding: 20px 0;
  }
  .actor-box{
    height: 100%;
  }
  .box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box>img{
    height: 180px;
    
  }
  .pic{
    height: 100%;
  }
  .nick{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    
  }
  .nick>a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }